body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 0.5fr 8fr 1fr;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(216, 239, 250);
    color: rgb(104, 91, 91);
    font-family: "Dosis", sans-serif;
    font-weight: 750;
    padding: 10px;
    text-align: center;
    margin: 0;
}
header .img_cipaes {
    height: 37px;
    padding-left: 25px;
}
header .titulo {
    flex: 1; 
    font-size: 30px;
}
header .mundo{
    height: 37px;
}


nav {
    background-color: #8dc170;
    margin: 0; 
    padding: 10px 0;
    font-family: "Dosis", sans-serif;
    font-size: 15px; 
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0; 
    margin: 0; 
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    align-items: center;
    display: flex; 
    padding-left: 15px;
}
nav a{
    font-weight: 750;
    color: white; 
    text-decoration: none;
}
nav ul li a img {
    vertical-align: middle; 
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
nav ul li a:hover {
    color: #2d2d2de8 !important; 
}
nav ul li a:hover img {
    filter: invert(72%)  saturate(300%) hue-rotate(10deg) brightness(110%) contrast(100%); /* Cambiar color del icono */
}

.General {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0px 0px;
    color:  rgba(24, 23, 23, 0.918);
}

#Gestorcapas {
    background-color: rgb(228, 228, 228);
    font-size: 10px;
}
#Gestorcapas .nav-link {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}
#pills-profile2 h6{
    font-size: 1em;
    text-align: left;
}
#Gestorcapas div{
    margin-bottom: 25px;
}


#capas {
    display: flex;
    flex-direction: column;
}

#Leyenda{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 5%;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    max-height: 400px;
}
#Leyenda h1{
    font-size: 15px;
    font-weight: 400;
}
#Leyenda h2{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
#Leyenda::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
}
#Leyenda::-webkit-scrollbar-thumb {
    width: 30px;
    background: rgb(230, 159, 67);
    border-radius: 15px;
    border: 2px solid #f1eaea9f;
}
#Leyenda::-webkit-scrollbar-button {
    background-color: #f1eaea9f;
    height: 5px;
}


#ResConsult::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
}
#ResConsult::-webkit-scrollbar-thumb {
    width: 30px;
    background: rgb(230, 159, 67);
    border-radius: 15px;
    border: 2px solid #f1eaea9f;
}
#ResConsult::-webkit-scrollbar-button {
    background-color: #f1eaea9f;
    height: 5px;
}





#pills-tabContent {
    margin: 15px;
}

select{
    width: 50%;
}

.modal1 {
    display: none; /* Oculto por defecto */
    position: fixed; 
    z-index: 1000; 
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: auto; 
    max-height: 80%; /* Limita la altura del modal */
    overflow: auto; 
    background-color: #fff; /* Fondo blanco del modal */
    padding: 20px; /* Añade un padding al modal */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
    border: 1px solid #da8404; /* Borde del modal */
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.200); /* Sombra del modal */
}
.modal-conten {
    background-color: #fefefe;
    padding: 20px;
    border: none;
    width: 100%; 
    height: 100%; 
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer{
    background-color: rgb(230, 159, 67);
    text-align: center;
    font-size: 10px;
    margin: 0;
    color: beige;
}
footer .contenedor  {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 10px 20px;
}

select.form-select {
    width: 200px; 
    height: 30px;
    font-size: 11px; 
}

.boton{
    margin: 10px;
    margin-left: 25%;
}

.boton_reg{
    margin-left: 5%;
}

h6{
    letter-spacing: 1px;
    text-align: justify;
}

#contenido {
    max-height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
}