body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(216, 239, 250);
    color: rgb(104, 91, 91);
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    margin: 0;
}

header .img_cipaes {
    height: 37px;
    padding-left: 25px;
}

header .titulo {
    flex: 1; 
    font-size: 30px;
}

header .mundo{
    height: 37px;
}


.dosis {
  font-family: "Dosis", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}

nav {
    background-color: #59a12fe8;
    margin: 0; 
    padding: 10px 0; 
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0; 
    margin: 0; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    display: block; 
    padding: 10px; 
}

nav ul li a:hover {
    color: #fdfa49e8; 
}

.General {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0px 0px;
    color:  rgba(24, 23, 23, 0.918);
    height: 80vh;
}

.General .div{
    padding: 50px;
}

#Gestorcapas {
    background-color: rgb(228, 228, 228);
}

#Gestor1 {
    padding: 20px;
}

#Mapa {
    height: 100%; 
    width: 100%;
}

footer{
    background-color: ghostwhite;
    text-align: center;
    font-size: 10px;
    margin-top: auto;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 50%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #da8404;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}