body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #ff9c40e8;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

header .img_cipaes {
    width: 80px;
    padding-left: 20px;
}

header .titulo {
    flex: 1; 
}

nav {
    background-color: #59a12fe8;
    margin: 0; 
    padding: 10px 0; 
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0; 
    margin: 0; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    display: block; 
    padding: 10px; 
}

nav ul li a:hover {
    color: #fdfa49e8; 
}

.General {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0px 0px;
    color:  rgba(24, 23, 23, 0.918);
    height: 80vh;
}

.General .div{
    padding: 50px;
}

#Gestorcapas {
    background-color: rgb(228, 228, 228);
}

#Gestor1 {
    padding: 20px;
}

#Mapa {
    height: 100%; 
    width: 100%;
}

footer{
    background-color: ghostwhite;
    text-align: center;
    font-size: 10px;
    margin-top: auto;
}

